* {
  padding: 0;
  margin: 0;
}
.main {
  font-family: "Satisfy", cursive;
  width: 100%;
  height: 100vh;
  background-image: url("https://i.pinimg.com/736x/d5/cd/6c/d5cd6c44a7c404dd610fa256dd2495e9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: black;
}

.buttons {
  text-align: center;
  padding: 50px;
}

button {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border-radius: 30px;
  width: 200px;
  height: 50px;
  font-family: "Satisfy", cursive;
  outline: 0;
  font-size: 20px;
  transition: 0.5s ease;
  margin-top: 20px;
}

button:hover {
  background-color: transparent;
  backdrop-filter: blur(10px);
  transition: 0.5s ease;
}
h1,
h2 {
  margin: 50px;
  text-align: center;
}

span {
  color: pink;
}
